ddAutoCtlSetVars(0 0 3 3)  -> auto checkout on, auto checkin on
ddAutoCtlSetVars(0 0 3 0) -> auto checkout on, auto checkin off
ddAutoCtlSetVars(0 0 0 3)  -> auto checkout off,auto checkin on
ddAutoCtlSetVars(0 0 0 0)  -> auto checkout off,auto checkin off

ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_Checkout_Lib( "ICMFastCoLib" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierQuestion nil 2) "\n" hiDBoxUser(ICM_intHierOkay nil 1) "\n" ICM_runP4("opened ... | wc -l") "\n" openedPreCnt=atoi(car(last(parseString(ICM_IPCBuffer "\n")))) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n") "\n" exit() "\n" geSaveAllForm->none->value= t "\n" hiFormDone(geSaveAllForm)) "\n" cv=gec() "\n" id=cv~>view "\n" rval_CO=Validate_fastCO("libname") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_CO then "Fast Checkout opened count PASS" else "Fast Checkout opened count FAIL")) -> Fast Checkout
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n") "\n" exit() "\n" geSaveAllForm->none->value= t "\n" hiFormDone(geSaveAllForm)) "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Open-triggered Check out PASS" else "Open-triggered Check out FAIL")) -> Open-triggered Checkout
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" hiDBoxCancel(_schDBox) "\n" if(gec() then fprintf(fd "RowNo_libname_cellname: deOpen UNEXPECTED open FAIL\n") else fprintf(fd "RowNo_libname_cellname: deOpen unsucessful PASS\n") win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "r")) "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Open-triggered Check out EXPECTED CI PASS" else "Open-triggered Check out UNEXPECTED CO FAIL")) -> Open-triggered Checkout Expect Fail
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" ) "\n" ICM_CheckOutButton( "ICMCheckOutButton" "libname" "cellname" "schematic" "" "" ) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n") "\n" exit() "\n" geSaveAllForm->none->value= t "\n" hiFormDone(geSaveAllForm)) "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "ICM Check out PASS" else "ICM Check out FAIL")) -> ICM Checkout
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" ) "\n" ICM_Hier_View_CO( "ICMHierVIEWCO" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" ICM_runP4("opened ... | wc -l") "\n" openedPreCnt=atoi(car(last(parseString(ICM_IPCBuffer "\n")))) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n") "\n" exit() "\n" geSaveAllForm->none->value= t "\n" hiFormDone(geSaveAllForm)) "\n" cv=gec() "\n" id=cv~>view "\n" rval_hierCO=Validate_hierCO(id) "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_hierCO then "Hierarchical Checkout opened count PASS" else "Hierarchical Checkout opened count FAIL")) -> Hierarchical Checkout


dbCreateProp(cv "dummy" 'boolean t) "\n" if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified PASS\n") else fprintf(fd "RowNo_libname_cellname: Modified FAIL\n")) 	-> Modified
dbCreateProp(cv "dummy" 'boolean t) "\n" if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified FAIL (unexpected save)\n") else fprintf(fd "RowNo_libname_cellname: Modified PASS (expected save to fail)\n")) -> Modified Expect Unchanged
fprintf(fd "RowNo_libname_cellname: Not Modified PASS\n")	-> Not Modified



ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierWarning nil 4) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Check in PASS" else "Fast Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Fast Checkin
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierWarning nil 4) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Check in PASS" else "Fast Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Fast Checkin Expect 1 CI
hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS" else "Close-triggered Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close-triggered Checkin 
hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS CO" else "Close-triggered Check in FAIL")) "\n" CI_status=nil "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close-triggered Checkin Expect 1 CO
hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS CI" else "Close-triggered Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close-triggered Checkin Expect 1 CI
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_CancelCheckoutButton("ICMCancelCheckoutButton" "libname" "cellname" "schematic" "" "") "\n" hiDBoxUser(ICM_intHierWarning nil 2) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Cancel Checkout PASS" else "ICM Cancel Checkout FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Cancel Checkout
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Check in PASS" else "ICM Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Check in PASS" else "ICM Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Checkin Expect 1 CI

"\n" -> Save
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_Hier_View_UNCO("ICMHierVIEWUNCO" "libname" "cellname" "schematic" "" "") "\n" hiiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" hiDBoxUser(ICM_intHierQuestion nil 2) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Cancel Checkout PASS" else "Hierarchical Cancel Checkout FAIL")) "\n" CI_status=t  "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL")) -> Hierarchical Cancel Checkout
ICM_Sensitivity_popup("popup_L" "libname" "" "" "" "") "\n" ICM_Cancel_Lib("ICMFastCancelLIB" "libname" "" "" "" "") "\n" hiDBoxUser(ICM_intHierQuestion nil 2) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Cancel Checkout PASS" else "Fast Cancel Checkout FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL")) -> Fast Cancel Checkout

ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" hiDBoxUser(ICM_intHierWarning nil 1) "\n" hiiSetCurrentForm('ICM_menuCIform) "\n"  hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Check in PASS" else "Hierarchical Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Hierarchical Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" hiDBoxUser(ICM_intHierWarning nil 1) "\n" hiiSetCurrentForm('ICM_menuCIform) "\n"  hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Check in PASS" else "Hierarchical Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Hierarchical Checkin Expect 1 CI


ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close Data Save
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close Data Save Expect 1 CI
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL")) "\n" CI_status=nil "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close Data Save Expect 1 CO
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="discard" "\n" hiFormDone(ddsCloseDataForm) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL")) "\n" CI_status=t "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close Data Discard Expect 1 CI
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="discard" "\n" hiFormDone(ddsCloseDataForm) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL")) "\n" CI_status=nil "\n" rval_lock=Validate_lock("libname" "cellname" "schematic") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))->	Close Data Discard Expect 1 CO


rval_allLibCI=Validate_allLibCI("libname") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_allLibCI then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Whole Lib CI

rval_otherRemainCO=Validate_otherRemainCO(id openedPreCnt CI_status) "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_otherRemainCO then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Others Remain CO

rval_otherNotInHierRemainCO=Validate_otherNotInHierRemainCO(id openedPreCnt) "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_otherNotInHierRemainCO then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Others Not In Hier Remain CO

