ddAutoCtlSetVars(0 0 3 3) -> auto checkout on, auto checkin on
ddAutoCtlSetVars(0 0 3 0) -> auto checkout on, auto checkin off
ddAutoCtlSetVars(0 0 0 3) -> auto checkout off,auto checkin on
ddAutoCtlSetVars(0 0 0 0) -> auto checkout off,auto checkin off
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_Checkout_Lib( "ICMFastCoLib" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierQuestion nil 2) "\n" hiDBoxUser(ICM_intHierOkay nil 1) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> Fast Checkout
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierWarning nil 4) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Fast Checkin
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" ) "\n" ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" ) "\n" hiDBoxUser(ICM_intHierWarning nil 4) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Fast Checkin Expect Fail CI
dbCreateProp(cv "dummy" 'boolean t) "\n" if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified PASS\n") else fprintf(fd "RowNo_libname_cellname: Modified FAIL\n")) -> Modified
dbCreateProp(cv "dummy" 'boolean t) "\n" if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified FAIL (unexpected save)\n") else fprintf(fd "RowNo_libname_cellname: Modified PASS (expected save to fail)\n")) -> Modified Expect Fail
"\n" -> Save
fprintf(fd "RowNo_libname_cellname: Not Modified PASS\n") -> Not Modified
dbClose(cv) "\n" hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Save-triggered Checkin
dbClose(cv) "\n" hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS CO" else "Check in FAIL")) -> Save-triggered Checkin Expect Fail CO
dbClose(cv) "\n" hiCloseWindow(geGetCellViewWindow(cv)) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS CI" else "Check in FAIL")) -> Save-triggered Checkin Expect Fail CI
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> Open-triggered Checkout
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" if(win then fprintf(fd "RowNo_libname_cellname: deOpen UNEXPECTED pass\n") else fprintf(fd "RowNo_libname_cellname: deOpen EXPECTED fail\n") win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "r")) "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out EXPECTED CI" else "Check out UNEXPECTED CO")) -> Open-triggered Checkout Expect Fail
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> ICM Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('ICM_menuCIform) "\n" hiFormDone(ICM_menuCIform) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> ICM Checkin Expect Fail CI
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" ) "\n" ICM_CheckOutButton( "ICMCheckOutButton" "libname" "cellname" "schematic" "" "" ) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> ICM Checkout
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" ) "\n" ICM_Hier_View_CO( "ICMHierVIEWCO" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> Hierarchical Checkout
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" hiDBoxUser(ICM_intHierWarning nil 1) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Hierarchical Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "") "\n" ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" ) "\n" hiSetCurrentForm('hier_operationForm) "\n" hiFormDone(hier_operationForm) "\n" hiDBoxUser(ICM_intHierWarning nil 1) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Hierarchical Checkin Expect Fail CI
_ddBatchCheckout(list(ddGetObj("libname" "cellname" "schematic"))) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> ddBatchCheckout
_ddBatchCheckout(list(ddGetObj("libname" "cellname" "schematic"))) "\n" win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a") "\n" cv=gec() "\n" id=cv~>view "\n" rval=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL")) -> ddBatchCheckout Expect Fail
dbClose(cv) "\n" _ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic"))) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> ddBatchCheckin
dbClose(cv) "\n" _ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic"))) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> ddBatchCheckin Expect Fail CI
dbClose(cv) "\n" _ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic"))) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> ddBatchCheckin Expect Fail CO
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" hiDBoxOK(ddsDBox) "\n" rval1=Validate(id "gdmStateCI" "2") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Close Data Save
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" hiDBoxOK(ddsDBox) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Close Data Save Expect Fail CI
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="save" "\n" hiFormDone(ddsCloseDataForm) "\n" hiDBoxOK(ddsDBox) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Close Data Save Expect Fail CO
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="discard" "\n" hiFormDone(ddsCloseDataForm) "\n" hiDBoxOK(ddsDBox) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Close Data Discard Expect Fail CI
ddsHiCloseData() "\n" hiiSetCurrentForm('ddsCloseDataForm) "\n" ddsiCloseDataButtonCB('all) "\n" ddsCloseDataForm->CDCVModifiedOption->value="discard" "\n" hiFormDone(ddsCloseDataForm) "\n" hiDBoxOK(ddsDBox) "\n" rval1=Validate(id "gdmStateCO" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL")) -> Close Data Discard Expect Fail CO
_ddBatchCancel(list(ddGetObj("libname" "cellname" "schematic"))) "\n" rval1=Validate(id "gdmStateCI" "1") "\n" fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Cancel PASS" else "Cancel FAIL")) -> ddBatchCancel
