ddAutoCtlSetVars(0 0 3 3) -> auto checkout on, auto checkin on ddAutoCtlSetVars(0 0 3 0) -> auto checkout on, auto checkin off ddAutoCtlSetVars(0 0 0 3) -> auto checkout off,auto checkin on ddAutoCtlSetVars(0 0 0 0) -> auto checkout off,auto checkin off ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_Checkout_Lib( "ICMFastCoLib" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierQuestion nil 2)
hiDBoxUser(ICM_intHierOkay nil 1)
ICM_runP4("opened ... | wc -l")
openedPreCnt=atoi(car(last(parseString(ICM_IPCBuffer
))))
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n")
exit()
geSaveAllForm->none->value= t
hiFormDone(geSaveAllForm))
cv=gec()
id=cv~>view
rval_CO=Validate_fastCO("libname")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_CO then "Fast Checkout opened count PASS" else "Fast Checkout opened count FAIL")) -> Fast Checkout win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n")
exit()
geSaveAllForm->none->value= t
hiFormDone(geSaveAllForm))
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Open-triggered Check out PASS" else "Open-triggered Check out FAIL")) -> Open-triggered Checkout win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
hiDBoxCancel(_schDBox)
if(gec() then fprintf(fd "RowNo_libname_cellname: deOpen UNEXPECTED open FAIL\n") else fprintf(fd "RowNo_libname_cellname: deOpen unsucessful PASS\n") win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "r"))
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Open-triggered Check out EXPECTED CI PASS" else "Open-triggered Check out UNEXPECTED CO FAIL")) -> Open-triggered Checkout Expect Fail ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" )
ICM_CheckOutButton( "ICMCheckOutButton" "libname" "cellname" "schematic" "" "" )
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n")
exit()
geSaveAllForm->none->value= t
hiFormDone(geSaveAllForm))
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "ICM Check out PASS" else "ICM Check out FAIL")) -> ICM Checkout ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" )
ICM_Hier_View_CO( "ICMHierVIEWCO" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
ICM_runP4("opened ... | wc -l")
openedPreCnt=atoi(car(last(parseString(ICM_IPCBuffer
))))
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
when(win==nil fprintf(fd "RowNo_libname_cellname: Open Editor FAIL, exiting...\n")
exit()
geSaveAllForm->none->value= t
hiFormDone(geSaveAllForm))
cv=gec()
id=cv~>view
rval_hierCO=Validate_hierCO(id)
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_hierCO then "Hierarchical Checkout opened count PASS" else "Hierarchical Checkout opened count FAIL")) -> Hierarchical Checkout dbCreateProp(cv "dummy" 'boolean t)
if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified PASS\n") else fprintf(fd "RowNo_libname_cellname: Modified FAIL\n")) -> Modified dbCreateProp(cv "dummy" 'boolean t)
if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified FAIL (unexpected save)\n") else fprintf(fd "RowNo_libname_cellname: Modified PASS (expected save to fail)\n")) -> Modified Expect Unchanged fprintf(fd "RowNo_libname_cellname: Not Modified PASS\n") -> Not Modified ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierWarning nil 4)
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Check in PASS" else "Fast Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Fast Checkin ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierWarning nil 4)
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Check in PASS" else "Fast Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Fast Checkin Expect 1 CI hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS" else "Close-triggered Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close-triggered Checkin hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS CO" else "Close-triggered Check in FAIL"))
CI_status=nil
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close-triggered Checkin Expect 1 CO hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close-triggered Check in PASS CI" else "Close-triggered Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close-triggered Checkin Expect 1 CI ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_CancelCheckoutButton("ICMCancelCheckoutButton" "libname" "cellname" "schematic" "" "")
hiDBoxUser(ICM_intHierWarning nil 2)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Cancel Checkout PASS" else "ICM Cancel Checkout FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Cancel Checkout ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Check in PASS" else "ICM Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Checkin ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "ICM Check in PASS" else "ICM Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> ICM Checkin Expect 1 CI
-> Save ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_Hier_View_UNCO("ICMHierVIEWUNCO" "libname" "cellname" "schematic" "" "")
hiiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
hiDBoxUser(ICM_intHierQuestion nil 2)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Cancel Checkout PASS" else "Hierarchical Cancel Checkout FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL")) -> Hierarchical Cancel Checkout ICM_Sensitivity_popup("popup_L" "libname" "" "" "" "")
ICM_Cancel_Lib("ICMFastCancelLIB" "libname" "" "" "" "")
hiDBoxUser(ICM_intHierQuestion nil 2)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Fast Cancel Checkout PASS" else "Fast Cancel Checkout FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL")) -> Fast Cancel Checkout ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
hiDBoxUser(ICM_intHierWarning nil 1)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Check in PASS" else "Hierarchical Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Hierarchical Checkin ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
hiDBoxUser(ICM_intHierWarning nil 1)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Hierarchical Check in PASS" else "Hierarchical Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Hierarchical Checkin Expect 1 CI ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close Data Save ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close Data Save Expect 1 CI ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL"))
CI_status=nil
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close Data Save Expect 1 CO ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="discard"
hiFormDone(ddsCloseDataForm)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL"))
CI_status=t
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close Data Discard Expect 1 CI ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="discard"
hiFormDone(ddsCloseDataForm)
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Close Data Check in PASS" else "Close Data Check in FAIL"))
CI_status=nil
rval_lock=Validate_lock("libname" "cellname" "schematic")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_lock then "Lock file is not existed PASS" else "Lock file is existed FAIL"))-> Close Data Discard Expect 1 CO rval_allLibCI=Validate_allLibCI("libname")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_allLibCI then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Whole Lib CI rval_otherRemainCO=Validate_otherRemainCO(id openedPreCnt CI_status)
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_otherRemainCO then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Others Remain CO rval_otherNotInHierRemainCO=Validate_otherNotInHierRemainCO(id openedPreCnt)
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval_otherNotInHierRemainCO then "Checkin opened count PASS" else "Checkin opened count FAIL")) -> Validate Others Not In Hier Remain CO
