=== Start : auto checkout on, auto checkin on
ddAutoCtlSetVars(0 0 3 3)
=== End

=== Start : auto checkout on, auto checkin off
ddAutoCtlSetVars(0 0 3 0)
=== End

=== Start : auto checkout off, auto checkin on
ddAutoCtlSetVars(0 0 0 3)
=== End

=== Start : auto checkout off, auto checkin off
ddAutoCtlSetVars(0 0 0 0)
=== End

=== Start : Fast Checkout
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_Checkout_Lib( "ICMFastCoLib" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierQuestion nil 2)
hiDBoxUser(ICM_intHierOkay nil 1)
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : Fast Checkin
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierWarning nil 4)
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Fast Checkin Expect Fail CI
ICM_Sensitivity_popup( "popup_L" "libname" "" "" "" "" )
ICM_FastCheckInButton( "ICMCheckInButtonFast" "libname" "" "" "" "" )
hiDBoxUser(ICM_intHierWarning nil 4)
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Modified
dbCreateProp(cv "dummy" 'boolean t)
if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified PASS\n") else fprintf(fd "RowNo_libname_cellname: Modified FAIL\n"))
=== End

=== Start : Modified Expect Fail
dbCreateProp(cv "dummy" 'boolean t)
if(dbSave(cv) then fprintf(fd "RowNo_libname_cellname: Modified FAIL (unexpected save)\n") else fprintf(fd "RowNo_libname_cellname: Modified PASS (expected save to fail)\n"))
=== End

=== Start : Save
"\n"
=== End

=== Start : Not Modified
fprintf(fd "RowNo_libname_cellname: Not Modified PASS\n")
=== End

=== Start : Save-triggered Checkin
dbClose(cv)
hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Save-triggered Checkin Expect Fail CO
dbClose(cv)
hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS CO" else "Check in FAIL"))
=== End

=== Start : Save-triggered Checkin Expect Fail CI
dbClose(cv)
hiCloseWindow(geGetCellViewWindow(cv))
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS CI" else "Check in FAIL"))
=== End

=== Start : Open-triggered Checkout
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : Open-triggered Checkout Expect Fail
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
if(win then fprintf(fd "RowNo_libname_cellname: deOpen UNEXPECTED pass\n") else fprintf(fd "RowNo_libname_cellname: deOpen EXPECTED fail\n") win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "r"))
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out EXPECTED CI" else "Check out UNEXPECTED CO"))
=== End

=== Start : ICM Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ICM Checkin Expect Fail CI
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_CheckInButton( "ICMCheckInButton" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('ICM_menuCIform)
hiFormDone(ICM_menuCIform)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ICM Checkout
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" )
ICM_CheckOutButton( "ICMCheckOutButton" "libname" "cellname" "schematic" "" "" )
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : Hierarchical Checkout
ICM_Sensitivity_popup( "popup_V" "libname" "cellname" "schematic" "" "" )
ICM_Hier_View_CO( "ICMHierVIEWCO" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : Hierarchical Checkin
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
hiDBoxUser(ICM_intHierWarning nil 1)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Hierarchical Checkin Expect Fail CI
ICM_Sensitivity_popup("popup_V" "libname" "cellname" "schematic" "" "")
ICM_Hier_View_CI( "ICMHierVIEWCI" "libname" "cellname" "schematic" "" "" )
hiSetCurrentForm('hier_operationForm)
hiFormDone(hier_operationForm)
hiDBoxUser(ICM_intHierWarning nil 1)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ddBatchCheckout
_ddBatchCheckout(list(ddGetObj("libname" "cellname" "schematic")))
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : ddBatchCheckout Expect Fail
_ddBatchCheckout(list(ddGetObj("libname" "cellname" "schematic")))
win=deOpen(list(nil 'libName "libname" 'cellName "cellname" 'viewName "schematic") nil "a")
cv=gec()
id=cv~>view
rval=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval then "Check out PASS" else "Check out FAIL"))
=== End

=== Start : ddBatchCheckin
dbClose(cv)
_ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic")))
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ddBatchCheckin Expect Fail CI
dbClose(cv)
_ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic")))
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ddBatchCheckin Expect Fail CO
dbClose(cv)
_ddBatchCheckin("ddBatchCheckin from regression" list(ddGetObj("libname" "cellname" "schematic")))
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Close Data Save
ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
hiDBoxOK(ddsDBox)
rval1=Validate(id "gdmStateCI" "2")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Close Data Save Expect Fail CI
ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
hiDBoxOK(ddsDBox)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Close Data Save Expect Fail CO
ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="save"
hiFormDone(ddsCloseDataForm)
hiDBoxOK(ddsDBox)
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Close Data Discard Expect Fail CI
ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="discard"
hiFormDone(ddsCloseDataForm)
hiDBoxOK(ddsDBox)
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : Close Data Discard Expect Fail CO
ddsHiCloseData()
hiiSetCurrentForm('ddsCloseDataForm)
ddsiCloseDataButtonCB('all)
ddsCloseDataForm->CDCVModifiedOption->value="discard"
hiFormDone(ddsCloseDataForm)
hiDBoxOK(ddsDBox)
rval1=Validate(id "gdmStateCO" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Check in PASS" else "Check in FAIL"))
=== End

=== Start : ddBatchCancel
_ddBatchCancel(list(ddGetObj("libname" "cellname" "schematic")))
rval1=Validate(id "gdmStateCI" "1")
fprintf(fd "RowNo_libname_cellname: %s\n" if(rval1 then "Cancel PASS" else "Cancel FAIL"))
=== End


